1. Write a Python function called add_numbers that takes two numbers as arguments and returns their sum. Then, test the function by calling it with two numbers of your choice.

In [1]:
def add_numbers(num1, num2):
    print(num1 + num2)

add_numbers(5, 10)

15

2. Create a Python function called currency_converter() that takes two arguments:

- amount: The amount of money to be converted (in USD).
- exchange_rate (default is 280): The conversion rate from USD to another currency (e.g., PKR). You can assume the default rate is 1 USD = 280 PKR.

The function should return a message showing how much the given amount is worth in the target currency (PKR).

In [4]:
def currency_converter(amount, exchange_rate=280):
    converted_amount = amount * exchange_rate
    print(f"{amount} USD is equivalent to {converted_amount} PKR")


currency_converter(100)

100 USD is equivalent to 28000 PKR

3. Write a Python function display_student_info that accepts the following details about a student:

- name (Keyword argument): The name of the student.
- age (Keyword argument): The age of the student.
- grade (Keyword argument): The grade the student is in.
- school (Keyword argument): The name of the school the student attends.

In [6]:
def display_student_info(name, age, grade, school):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"Grade: {grade}")
    print(f"School: {school}")

display_student_info(name="John Doe", age=15, grade="10th", school="Greenwood High")

Name: John Doe
Age: 15
Grade: 10th
School: Greenwood High

4. Write a Python function calculate_price that accepts two positional arguments:

- price: The price of a single item.
- quantity: The number of items bought.
- The function should return the total price by multiplying price and quantity.

In [12]:
def calculate_price(price, quantity):
    print(price * quantity)

calculate_price(10, 2)

20

5. Write a Python function display_prices that takes a product name and an arbitrary number of keyword arguments representing product prices. The function should display each product and its price.

Product: Laptop

Amazon: $800

eBay: $750

Walmart: $780

In [10]:
def display_prices(product_name, **prices):
    print(f"Product: {product_name}")
    for store, price in prices.items():
        print(f"{store}: ${price}")

display_prices("Laptop", Amazon=800, eBay=750, Walmart=780)

Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

6. Write a Python function find_max that takes any number of numerical arguments and returns the maximum number.

In [13]:
def find_max(*numbers):
    print(max(numbers))


find_max(5, 12, 3)

12

7. Write a Python function display_info that takes:
Positional arguments for the name and age of a person.
Keyword arguments for other personal details like address, phone number, and email.
Example Output:

- Name: Alice
- Age: 30
- Other Details:
    - address: 123 Main St
    - phone: 123-456-7890
    - email: alice@example.com

In [14]:
def display_info(name, age, *args, **kwargs):
    print(f"Name: {name}")
    print(f"Age: {age}")
    
    print("Other Details:")
    
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info("Alice", 30, "Engineer", "Loves reading", address="123 Main St", phone="123-456-7890", email="alice@example.com")

Name: Alice
Age: 30
Other Details:
address: 123 Main St
phone: 123-456-7890
email: alice@example.com

8. products = [ {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1}, {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05}, {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2}, {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0}, {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15} ]

- Get names of in-stock products:

*Use list comprehension to generate a list of names for the products that are in stock.

- Calculate final prices for in-stock products after discount:

*For products that have a discount, calculate the final price by applying the discount.

*For products with no discount, keep the original price.

- Generate a list of tuples with the product name and its final price.

Example Output:

- In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
- Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

In [16]:
products = [
    {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1},
    {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05},
    {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2},
    {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0},
    {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15}
]

# Task 1:
in_stock_names = [product["name"] for product in products if product["in_stock"]]

# Task 2:
discounted_prices = [
    (product["name"], product["price"] * (1 - product["discount"]) if product["discount"] > 0 else product["price"])
    for product in products if product["in_stock"]
]

print(f"In-stock product names: {in_stock_names}")
print(f"Discounted prices: {discounted_prices}")

In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

9.Create a list of even numbers between 1 and 20. (List Comprehension)

In [24]:
evens = [x for x in range(1, 21) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

10. Create a list of numbers, generate a new list containing only the numbers that are divisible by 3 or 5. (List Comprehension)

In [29]:
numbers = [x for x in range(1, 31) if x % 3 == 0 or x % 5 == 0]
print(numbers)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]